/* ----------IMPORT FONTS---------- */
@import url("./fonts.css");


/* ----------CSS RESETS---------- */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ----------VARIABLES---------- */
:root{
  --font-weight-light:300;
  --font-weight-normal:500;
  --font-weight-bold:700;
  --font-weight-extra-bold:900;
  --color-violet-200:#ddd6fe;
  --color-violet-300:#c4b5fd;
  --color-emberald-10:#bff0de;
  --color-emberald-300:#6ee7b7;
  --color-emberald-500:#10b981;
  --color-indigo-50:#eef2ff;
  --color-indigo-100:#e0e7ff;
  --color-indigo-200:#c7d2fe;
  --color-slate-50:#f8fafc;
  --color-slate-150:#b3bdb9;
  --color-white:#fff;
  --border-radius-0:0;
  --border-radius-8:8px;
  --border-radius-20:20px;
}


/* ----------HTML STYLES---------- */
html{
  font-size: 62.5%;
}


/* ----------BODY STYLES---------- */
body{
  font-family: Vazirmatn;
  background: linear-gradient(to bottom left,var(--color-emberald-300),10%,var(--color-violet-200)) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* ----------TICKETING-PANEL STYLES---------- */
.ticketing-panel{
  width:calc(100vw - 5rem);
  max-width: 110rem;
  border-radius: var(--border-radius-20);
  box-shadow:0 0 10px 1.5px var(--color-indigo-100);
  padding:2rem;
  margin:3rem auto;
  background-color: var(--color-indigo-50);
}
.ticketing-panel__title{
  margin-bottom: 2rem ;
  font-size: 1.6rem;
  font-weight: var(--font-weight-extra-bold);
  text-align: center;
}
.ticketing-panel__items{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:3rem;
}


/* ----------CARD STYLES---------- */
.card{
  padding: 1rem;
  font-weight: var(--font-weight-normal);
  font-size: 1.3rem;
  box-shadow:0 0 8px 1.5px var(--color-indigo-200);
  border-radius: var(--border-radius-8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  align-items:end;
  grid-gap:1.5rem;
  background-color: var(--color-slate-50);
}
.light-text{
font-size:1.1rem;
font-weight: var(--font-weight-light);
color:var(--color-violet-300);
}
.card__header{
  display: flex;
  align-items: center;
  gap:1rem;
  grid-column: 1/-1;
}
.card__number{
  padding: 0.5rem 1.2rem;
  color:var(--color-emberald-500);
  border-radius: var(--border-radius-8);
  background-color: var(--color-violet-200);
}
.card__upload{
  flex: 1;
  color:var(--color-emberald-500);
  font-weight: var(--font-weight-bold);
  transition: all 0.6s;
}
.card__upload:hover{
  font-size:1.35rem;
  text-shadow: 0 0 5px var(--color-emberald-300);
}
.card__user-info{
  display: flex;
  gap:0.5rem;
  align-items: center;
  margin-top: 1.5rem;
}
.card__profile-pic{
  width:4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: var(--border-radius-8);
}
.card__btn{
  font-family: Vazirmatn;
  font-weight: var(--font-weight-bold);
  height: 6rem;
  border-radius: var(--border-radius-8);
  background-color: var(--color-emberald-500);
  box-shadow: -1.5px 1.5px 5px 1.5px  var(--color-slate-150) ;
  color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: all 1s;
}
.card__btn:hover{
  box-shadow:0 0 3px 3px var(--color-emberald-10);
  transform: scale(1.05);
}


/* ----------SCREEN WITH MAX-WIDTH OF 350PX---------- */
@media screen and (max-width:350px) {
  .ticketing-panel{
    width:100vw;
    padding: 1rem;
    margin: 0;
    padding-top:2rem;
    border-radius: var(--border-radius-0);
  }
}


 /* ----------SCREEN WITH MIN-WIDTH OF 683PX---------- */
 @media screen and (min-width:683px) {
  .ticketing-panel__title{
  text-align: right;
  font-size: 1.8rem;
  }
  .ticketing-panel__items{ 
    grid-template-columns:1fr 1fr;
  }
}


 /* ----------SCREEN WITH MIN-WIDTH OF 1024PX---------- */
 @media screen and (min-width:1024px){
  .ticketing-panel__items{ 
    grid-template-columns:1fr 1fr 1fr;
  }
}